/* Body background and font */
body {
  background: #45acd4;
  font-family: "Pacifico", cursive;
}

/* Main heading */
.heading {
  color: #bae8e8;
}

/* Countdown timer */
.timer {
  color: #ffffff;
  text-align: center;
  width: 20rem;
  height: 20rem;
  border: 5px solid #fff;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

/* remove the padding on the play button */
.btn {
  padding: 0;
}

/* play and reset icons */
.fa-play,
.fa-redo-alt {
  color: #e3f6f5;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover,
.fa-redo-alt:hover {
  color: #bae8e8;
  border: 2px solid #bae8e8;
  transition: 0.3s ease;
}

/* Dynamic class */
/* Make the message visible */
.show_message {
  display: block;
  padding: 1rem 0;
  color: #45acd4;
  background: #e3f6f5;
  border-radius: 0.5rem;
  transition: 0.5s ease;
}